
## common layer section

config_opts['root'] = 'gem-rtsw-common-<MATURITY>'

config_opts['dnf.conf'] += """
[gem-rtsw-common-<MATURITY>-<BRANCH>]
name=Gemini RTSW group software common <MATURITY> packages
baseurl=http://hbfswgrepo-lv1.hi.gemini.edu/repo/gem-rtsw-<MATURITY>/common/<BRANCH>/centos-8/x86_64/
gpgcheck=0
timeout=0
"""

